{% extends 'view/layout/base.html' %}

{% block body %}
<div class="columns is-centered is-multiline mt-2 mx-5">
  {% for car in cars %}
  <div class="column is-3">
    <div class="card">
      <div class="card-image">
        <figure class="image is-16by9">
          <img src="/{{car.carImgUrl}}" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5">{{car.make.toUpperCase()}} {{car.model}}</p>
          </div>
        </div>
    
        <div class="content">
          <a href="/car/view/{{car.id}}" class='is-primary has-text-link'>See more...</a>
        </div>
      </div>
      <footer class="card-footer">
        <a href="/car/edit/{{car.id}}" class="card-footer-item has-text-link">Edit</a>
        <a href="#" class="card-footer-item has-text-danger" id='deleteButton' data-id="{{car.id}}">
          <span class="material-icons">
            delete
            </span>
        </a>
      </footer>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
{% block footerScripts %}
<script src="/public/js/home.js"></script>
{% endblock %}