{% extends 'view/layout/base.html' %}

{% block body %}
<div class="container is-max-desktop mt-5">
  <div class="notification has-background-primary-light has-text-primary-dark is-size-4 has-text-weight-bold">
    {{car.make.toUpperCase()}} {{car.model.toUpperCase()}}
  </div>
  <div class='is-flex is-justify-content-space-around'>
    <img src="/{{car.carImgUrl}}" class='img'>
    <div class=''>
      <ul class='is-size-6'>
        <li>Year: <b>{{car.year}}</b></li>
        <li>Kms: <b>{{car.kms}}</b></li>
        <li>Color: <b>{{car.color}}</b></li>
        <li>Air conditioning: <b>{{car.airConditioning}}</b></li>
        <li>Passengers: <b>{{car.numberPassengers}}</b></li>
        <li>Transmission: <b>{{car.transmission}}</b></li>
      </ul>
    </div>
  </div>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione fugiat cumque laborum esse odit corrupti culpa ab quaerat ducimus optio maxime nulla, fugit mollitia ut provident vitae, ex nihil qui.</p>
</div>
{% endblock %}