{% extends 'view/layout/base.html' %}

{% block body %}
<a href="/car/create" class="button is-primary">Add car</a>
<div class="columns is-centered">
  {% for car in cars %}
  <div class="column is-3">
    <div class="card">
      <div class="card-image">
        <figure class="image is-16by9">
          <img src="/{{car.carImgUrl}}" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{car.make.toUpperCase()}} {{car.model}}</p>
          </div>
        </div>
    
        <div class="content">
          <a href="/car/view/{{car.id}}">See more...</a>
        </div>
      </div>
      <footer class="card-footer">
        <a href="/car/edit/{{car.id}}" class="card-footer-item">Edit</a>
        <a href="/car/delete/{{car.id}}" class="card-footer-item">Delete</a>
      </footer>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}